@use '/scss/tools/' as tools;

.header {
  position: relative;
  background-color: #2a3d45;
  overflow: hidden;

  @include tools.respond-from(medium) {
    height: 100vh;
  }

  &--small {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    @include tools.respond-from(medium) {
      height: 70vh;
    }
  }
}

.header__title {
  margin-bottom: 0;
}

.header__title__sub {
  margin-bottom: 1em;
}

.header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__text-content {
  display: flex;
  position: relative;
  z-index: 10;
  color: #ebebeb;
  padding-bottom: tools.rem(50);
}

.header__content {
  display: flex;
  height: 100vh;
  width: 100%;
  max-width: tools.rem(1024);

  .header--small & {
    height: 60vh;
  }
}

.header__text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 2;
  color: black;
}

.header__date {
  font-size: tools.rem(18);
}

.header__artwork {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex: 1;
  align-items: stretch;
  z-index: 1;

  &::after {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    pointer-events: none;
    top: 0;
    content: '';
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(255, 255, 255, 0) 25%,
      rgba(255, 255, 255, 0) 55%,
      rgba(0, 0, 0, .75) 100%
    );
  }

  @include tools.respond-from(medium) {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(255, 255, 255, 0) 25%,
      rgba(255, 255, 255, 0) 75%,
      rgba(0, 0, 0, .5) 100%
    );
  }
}

.header__figure {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;

  &::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.3) 75%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }
  z-index: 2;
}

.header__image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  top: 25vh;
  transform: translateX(-50%);
  z-index: 3;
  max-width: tools.rem(200);
  margin: 0;

  @include tools.respond-from(large) {
    left: tools.rem(50);
    top: tools.rem(50);
    transform: none;
  }
}

.header__logo__img {
  object-fit: cover;
  max-width: 100%;
}

.header__extra {
  position: absolute;
  bottom: 0;
  z-index: 5;
  left: 0;
  right: 0;
  width: auto;
  color: #ebebeb;
  padding: tools.rem(25);
  text-shadow: tools.rem(2) tools.rem(2) 0 rgba(0, 0, 0, 0.5);

  @include tools.respond-from(medium) {
    bottom: auto;
    width: auto;
    left: auto;
    right: auto;
    max-width: 40vw;
    background-color: #ebebeb;
    color: black;
    left: 0;
    right: auto;
    padding: tools.rem(36);
    top: auto;
    bottom: 0;
    margin-bottom: tools.rem(100);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.16);
    text-shadow: none;
  }

  @include tools.respond-from(xlarge) {
    padding: tools.rem(50);
  }
}

.header__extra-text {
  &::after {
    display: block;
    content: '';
    width: tools.rem(100);
    height: tools.rem(4);
    background-color: #ebebeb;
    margin-top: tools.rem(24);
  }

  @include tools.respond-from(medium) {
    padding-bottom: 30px;

    &::after {
      display: none;
    }
  }
}

.header__links {
  display: flex;
  border-top: tools.rem(1px) solid rgba(0, 0, 0, 0.16);
  padding-top: tools.rem(30);
  text-shadow: none;
}

.header__link {
  margin-right: tools.rem(20);
  background: #ebebeb;

  @include tools.respond-from(medium) {
    background: transparent;
  }
}
