@use '/scss/tools/' as tools;

.button {
  display: inline-block;
  padding: tools.rem(16);
  appearance: none;
  border: none;
  color: #000;
  border: 1px solid black;
  text-decoration: none;
  font-size: tools.rem(18);
  line-height: 1.1;
  box-shadow: 0px 0px 0px 0px rgba($color: #000000, $alpha: 0.0);
  transition: box-shadow 96ms linear, background 96ms linear;
  white-space: nowrap;

  &:focus-visible {
    outline: 3px solid rgba($color: #000000, $alpha: 0.6);
  }

  &--alt {
    background-color: #2a3d45;
    color: #ebebeb;

    &:hover {
      background-color: darken(#2a3d45, 10%);
    }

    &:active {
      background-color: darken(#2a3d45, 20%);
    }
  }

  &--dark {
    color: #ebebeb;
    border-color: #ebebeb;
    background: transparent;

    &.button--alt {
      color: #ebebeb;
      border-color: #ebebeb;
      background: transparent;
    }
  }

  &:focus-visible {
    outline: 3px solid rgba($color: #000000, $alpha: 0.5);
  }

  &:hover {
    box-shadow: 0px 0px 6px 3px rgba($color: #000000, $alpha: 0.1);

    &--alt {
      background-color: darken(#2a3d45, 10%);
    }
  }

  &:active {
    box-shadow: 0px 0px 6px 3px rgba($color: #000000, $alpha: 0.2);

    &--alt {
      background-color: darken(#2a3d45, 20%);
    }
  }

  &[disabled] {
    opacity: .75;
    outline: none !important;
    box-shadow: none !important;
    background: transparent !important;
  }
}

a.button {
  cursor: pointer;
}