.package-block-wrapper {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.package-block__text-wrapper {
  flex-grow: 0;
  margin-bottom: 2.5rem;
  padding: 1.25rem 1.875rem;
  text-align: center;
}