@use 'scss/tools/' as tools;

.title {
  line-height: 1.1;
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }

  &--h1 {
    font-size: tools.rem(48);
  }

  &--h2 {
    font-size: tools.rem(36);
  }

  &--h3 {
    font-size: tools.rem(24);
  }

  &--h4 {
    font-size: tools.rem(20);
  }

  &--large {
    .title--h1 {
      font-size: tools.rem(60);
    }

    .title--h2 {
      font-size: tools.rem(48);
    }

    .title--h3 {
      font-size: tools.rem(36);
    }
    
    .title--h4{
      font-size: tools.rem(24);
    }
  }
}