@use '/scss/tools/' as tools;

.navigation {
  position: absolute;
  padding: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}

.navigation__container {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  margin: 0 auto;
}

.navigation__items {
  margin: 0;
  padding: 0;
  display: flex;
  padding-right: tools.rem(10);

  @include tools.respond-from(large) {
    padding-right: tools.rem(25);
  }
}

.navigation__item {
  display: block;
}

.navigation__link {
  position: relative;
  padding: tools.rem(10);
  color: #EBEBEB;
  text-decoration: none;
  text-transform: uppercase;
  font-size: tools.rem(12);
  display: block;

  @include tools.respond-from(large) {
    font-size: 20px;
    padding: tools.rem(25) tools.rem(25) tools.rem(20) tools.rem(25);
  }

  &::after {
    position: absolute;
    left: 0;
    top: 100%;
    content: '';
    display: block;
    height: 1px;
    background: #EBEBEB;
    width: 70%;
    margin-left: 15%;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.192s ease;
  }

  &--active {
    &::after {
      opacity: 1;
    }
  }

  &:hover,
  &:focus {
    &::after {
      opacity: 1;
    }
  }
}