@use '/scss/settings/' as settings;
@use '/scss/tools/' as tools;

.navigation {
  position: absolute;
  padding: 0;
  top: 0;
  width: 100%;
  z-index: 5;

  &--mobile {
    z-index: 10;
  }
}

.navigation__nav {
  .navigation--visible & {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    background-color: settings.$white;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;

    @include tools.respond-from(medium) {
      position: relative;
      display: block;
      background: transparent;
    }
  }
}

.navigation__container {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  margin: 0 auto;
}

.navigation__items {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  padding: 0;
  justify-content: center;

  @include tools.respond-from(medium) {
    padding-right: tools.rem(25);
    background: none;
    position: relative;
    flex-direction: initial;
    justify-content: initial;
    text-align: left;
    align-items: initial;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
  }
}

.navigation__item {
  display: block;
}

.navigation__menu-button {
  display: block;
  border: 0;
  appearance: none;
  width: tools.rem(50);
  height: tools.rem(50);
  color: settings.$white;
  background-color: transparent;
}

.navigation__menu-button__icon {
  fill: currentColor;
  height: tools.rem(50);
  height: tools.rem(50);
}

.navigation__link {
  position: relative;
  padding: tools.rem(10);
  color: settings.$white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: tools.rem(20);
  display: block;

  .navigation--mobile & {
    color: settings.$gray;
  }

  @include tools.respond-from(medium) {
    font-size: 20px;
    padding: tools.rem(25) tools.rem(25) tools.rem(20) tools.rem(25);
  }

  &::after {
    position: absolute;
    left: 0;
    top: 100%;
    content: '';
    display: block;
    height: 1px;
    background: #EBEBEB;
    width: 70%;
    margin-left: 15%;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.192s ease;
  }

  &--active {
    &::after {
      opacity: 1;
    }
  }

  &:hover,
  &:focus {
    &::after {
      opacity: 1;
    }
  }
}

.navigation__close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: tools.rem(50);
  height: tools.rem(50);
  color: settings.$white;
  border: 0;
  appearance: none;
  cursor: pointer;
  z-index: 10;
  margin: tools.rem(20);
  padding: tools.rem(10);
  box-sizing: border-box;
}

.navigation__close-button__icon {
  width: 100%;
  max-height: 50px;
  fill: settings.$darkgray;
}