@use '/scss/tools/' as tools;

.footer {
  background-color: #2a3d45ff;
  color: #EBEBEB;
  padding: 50px 0;

  a {
    color: inherit;
  }
}

.footer__wrapper {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  @include tools.respond-from(medium) {
    flex-direction: row;
  }
}

.footer__content {
  padding: 10px 0;

  @include tools.respond-from(medium) {
    padding: 0;
  }
}