@use '/scss/tools/' as tools;

.gallery-block {
  display: flex;
  justify-content: center;
}

.gallery-block__wrapper {
  max-width: 1240px;
}

.gallery-block__text-wrapper {
  text-align: center;
  padding-bottom: 60px;
}

.gallery-block__image-wrapper {
  width: 40%;
  padding: 5px;

  @include tools.respond-from(medium) {
    width: 300px;
    padding: 10px;
  }
}

.gallery-block__images-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-block__image {
  max-width: 100%;
}